.restaurant-list {
    display: flex ;
    gap: 20px;
    overflow-x: auto; /* Enable horizontal scrolling */
    align-items: flex-start;
  }
  
  .restaurant-card {
    flex: 0 0 300px;
    height: 100px;
    padding: 20px;
    transition: all 0.3s ease;
    background-color: #f5f5f5;
    cursor: pointer;
    
  }
  
  .restaurant-card.expanded {
    height: auto;
    background-color: #e0e0e0;
  }
  
  .restaurant-card:hover {
    background-color: #e8e8e8;
  }

  .btn{
    display: inline-block;
    padding: 7px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #fc7c34;
    color: #ffffff;
    outline: none;
    border: 1px solid #ffffff;
    transition: .3s;
    -webkit-transition: .3s;
}
  
  
